.wrapper {
            width: 1240px;
            margin: 0 auto;
        }
header nav {
    margin-top: 22px;
}

header nav .wrapper {
    display: flex;
    height: 88px;
    align-items: center;
}
/* logo */
header nav .wrapper h1 a {
    display: block;
    width: 200px;
    height: 88px;
    font-size: 0px;
    background-image: url(./../images/logo.png);
}

/* logo旁导航 */
header nav ul{
    display: flex;
    margin-left: 41px;
}
header nav ul li {
    margin-right: 48px;
}
header nav ul li a {
    display: block;
    font-size: 16px;
    padding: 10px 0;
}

header nav ul li a.active {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

/* 导航旁搜一搜 */
header nav .wrapper .search {
    display: flex;
    align-items: center;
    width: 170px;
    border-bottom: 2px solid #F4F4F4 ;
    border-top : 2px solid #33333300;
    height: 42px;

}
header nav .wrapper .search input {
    background:none ;
    padding: 10px 0 10px 8px;
}

/* 购物车 */
header nav .shoppingcar {
    margin-left: 45px;
}
header nav .shoppingcar span {
    display: block;
    font-size: 27px;
}
header nav .shoppingcar a {
    display: block;
    position: relative;
    line-height: 1;
}
header nav .shoppingcar .carnum {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background-color: #E26237;
    font-size: 12px;
    color: #fffefe;
    line-height: 1;
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translate(-50%,50%);
}

/* 菜单和banner */
.menuandbanner {
    background-color:  #F5F5F5;
}
.menuandbanner .wrapper {
    position: relative;
    height: 500px;
}
.menuandbanner ul {
    position: absolute;
}
.menuandbanner ol {
    display: flex;
    position: absolute;
    width: 100px;
    height: 14px;
    right: 16px;
    bottom: 17px;
}
.menuandbanner ol li {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    border-radius: 50%;
}
.menuandbanner ol i {
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin:4px;
    background-color: rgba(255,255,255,0.50);
}
.menuandbanner ol li.active {
    background-color: rgba(255,255,255,0.50);
}
.menuandbanner ol i.active {
    background-color: rgba(255, 255, 255, 0.918);
}

.menuandbanner .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.menuandbanner .menu a {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 250px;
    opacity: 0.42;
    background-color: #000000;
    color: #FFFFFF;
    align-items: center;
}
.menuandbanner .menu a:hover {
    background-color: #00BE9A;
    opacity: 1;
}
.menuandbanner .menu .lefta {
    display: flex;
    align-self: center;
}
.menuandbanner .menu h4 {
    line-height: 22px;
    font-size: 16px;
    margin-left: 29px;
    margin-right: 14px;
}
.menuandbanner .menu .ddspan {
    margin-right: 5px;
    font-size: 14px;
}
.menu nav .icon-arrow-right-bold {
    margin-right: 12px;
    font-size: 10px;
}

/* 新鲜好物 */
.fresh .wrapper {
    display: flex;
    flex-direction: column;
}
.fresh {
    margin-top: 40px;
}
h2.left  {
    font-size: 30px;
}
.h2leftinfo {
    margin-left: 35px;
    font-size: 16px;
    color: #A1A1A1;
}
.h2title {
    display: flex;
    align-items: baseline;

}
.thetiinti {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.checkall {
    display: flex;
    align-items: center;
}

.checkallspan {
    color: #A1A1A1;
    font-size: 16px;
    margin-right: 10px;
}
.checkall .icon-arrow-right-bold {
    color: #a1a1a1;
    font-size: 12px;
}

/* 好物下面 */
.freshlist {
    display: flex;
    justify-content: space-between;
}
.freshlist li {
    display: flex;
    flex-direction: column;
}
.freshlist li img {
    width: 304px;
    height: 304px;
}
.freshlist li .freshlistinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eef9f4;
    height: 100px;
}
.freshlist li .freshlistinfo .freshlistname {
    margin: 17.5px auto 8.5px auto;
    color: #333333;
    font-size: 20px;
}
.freshlist li .freshlistinfo .freshlistprice {
    display: flex;
    align-items: center;
    color: #AA2113 ;
}
.freshlist li .freshlistinfo .freshlistprice .rmb {
    font-size: 18px;
}
.freshlist li .freshlistinfo .freshlistprice .freshlistpriceno {
    font-size: 22px;
}

/* 人气推荐 */
.peoplelove .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.peoplelovemain {
    display: flex;
    justify-content: space-between;
}
.peoplelovemain img {
    width: 304px;
    height: 304px;
}
.peoplelovemain .peoplelovebottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.peoplelovemain .peoplelovebottom .peoplelovename {
    display: flex;
    margin: 17.5px auto 15px auto;
    font-size: 20px;
    color: #333333 ;
}
.peoplelovemain .peoplelovebottom .peopleloveinfo {
    color: #A1A1A1;
    font-size: 16px;
}

/* 热门品牌 */
.hotbrand {
    margin-top: 77px;
    background-color: #F5F5F5 ;
}
.hotbrand .wrapper {
    display: flex;
    flex-direction: column;
    height: 468px;
}
.hottitle {
    margin-top: 40px;
    display: flex;
    align-items: baseline;
}
.hottitle h2 {
    font-size: 30px;
    color: #333333;
    margin-right: 35px;
}
.hottitle .h2info {
    font-size: 16px;
    color: #A1A1A1;
}
.hotbottonul{
    display: flex;
    align-self: end;
}
.hotbotton {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    background-color: #888888;
    margin: 5px 0 15px 12px;
}
.hotbotton span {
    color: #F4F4F4;
    font-size: 15px;
}
.hotbrand ul .active {
    background-color: #00BE9A ;
}
.hotimg {
    display: flex;
    justify-content: space-between;
}
.hotimg img {
    height: 306px;
    width: 244px;
}

/* 生鲜 */
.freshfood .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;   
}
.freshfood .wrapperb {
    display: flex;
    flex-direction: column;
    margin-top: 40px;   
}
.freshfood .freshfoodtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.freshfoodtop .freshfoodtopright {
    display: flex;
    align-items: center;
}
.freshfoodtop h2 {
    font-size: 30px;
}
.freshfood .freshfoodtop ul  {
    display: flex;
    align-items: center;
    margin-right: 58px;
}
.freshfood .freshfoodtop li {
    margin-left: 6px;
    height: 22.5px;
}
.freshfood .freshfoodtop li a {
    padding: 0 7px;
    font-size: 16px;
    color: #333333;
    line-height: 22.5px;
}
.freshfood .freshfoodtop li.active {
    background-color: #00BE9A;
}
.freshfood .freshfoodtop li a.active{
    color: #FFFFFF;
}

.freshfoodmain {
    display: flex;
    margin-top: 20px;
}
.freshfoodmainimg {
    width: 248px;
    height: 610px;
}

.freshfoodmainright { 
    display: flex;
    flex-wrap: wrap;
    width: 992px;
    margin-left: 24px;
}
.freshfoodtheone {
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 305px;
    border: 4px solid #00be9b00;
    position: relative;
    overflow: hidden;
    transition:border 0.3s;
}
.freshfoodtheone:hover {
    border: 4px solid #00BE9A;
}
.freshfoodtheonefullcover {
    display: flex;
    align-items: end;
    width: 242px;
    height: 388.5px;
    position: absolute;
    transition: bottom 0.3s;
    bottom: -87.5px;
    left: -4px;
}
.freshfoodtheonefullcover:hover {   
    bottom: -4px;
}
.freshfoodtheonecover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 83.5px;
    background-color: #00BE9A;
}

.freshfoodtheonecover span.zhaoxiangsi {
    margin-top: 15.5px;
    font-size: 18px;
    color:#FFFFFF;
}
.freshfoodtheonecover .searchmore {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 120px;
    border-top: 2px solid rgba(255,255,255,0.11);
}
.freshfoodtheonecover .searchmore .searchmoretest {
    margin-top: 6px;
    color: rgba(255,255,255,1);
    font-size: 13px;
}
.freshfoodtheonecover .searchmore .icon-arrow-right-bold {
    color: rgba(255,255,255,1);
    font-size: 13px;
}


.freshfoodtheone img {
    width: 200px;
    height: 180px;
    margin: 8px auto 10px auto;
}
.freshfoodtheone p {
    display: flex;
    margin-left: 19px;
    font-size: 16px;
    line-height: 19px;
}
.freshfoodtheone .freshfoodtheoneprice {
    display: flex;
    align-items: baseline;
    margin-left: 19px;
    margin-top: 7px;
    color: #AF2F22;
    line-height: 31px;
}
.freshfoodtheone .freshfoodtheoneprice .freshfoodtheonepricermb {
    font-size: 16px;
}
.freshfoodtheone .freshfoodtheoneprice .freshfoodtheonepricenum {
    font-size: 22px;
}

.brannew {
    display: flex;
    flex-direction: column;
    margin-top: 100px;   
}
.brannewtop {
    display: flex;
    justify-content: space-between;
}
.brannewdown {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.brannewtheone {
    display: flex;
    flex-direction: column;
}
.brannewdowntop {
    width: 405px;
    height: 288px;
    position: relative;
}
.brannewdowntop h4 {
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 14px;
    bottom: 42px;
}
.brannewdowntop .brannewdowntopinfo {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 15px;
    bottom: 13.5px;
}
.brannewdowntop .brannewprice {
    width: 79px;
    height: 25px;
    background-color: #fff;
    color :#AA2113;
    position: absolute;
    right: 15px;
    bottom: 30px;
    text-align: center;
    line-height: 25px;
}
.brannewdowntop .brannewbgi1 {
    background-image: url(./../uploads/topic1.png);
    width: 405px;
    height: 288px;
    box-shadow: 0 -100px 50px 0px rgba(0, 0, 0, 0.5) inset;
}
.brannewdowntop .brannewbgi2 {
    background-image: url(./../uploads/topic2.png);
    width: 405px;
    height: 288px;
    box-shadow: 0 -100px 50px 0px rgba(0, 0, 0, 0.5) inset;
}
.brannewdowntop .brannewbgi3 {
    background-image: url(./../uploads/topic3.png);
    width: 405px;
    height: 288px;
    box-shadow: 0 -100px 50px 0px rgba(0, 0, 0, 0.5) inset;
}
.brannewdowndown {
    display: flex;
    height: 67px;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
.brannewdowndownleft {
    display: flex;
}
.alllook {
    margin-left: 20.5px;
}
.likefont {
    font-size: 15px;
    color:#666666 ;
}
.icon-favorites-fill {
    color: rgb(139, 139, 139);
}
.brannewdowndown  .icon-favorites-fill.active {
    color: #ca2a18;
}
footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #F5F5F5;
}
.spiritbox {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.spirittheone {
    display: flex;
    align-items: center;
    margin-right: 96px;
}
.spirittheone:nth-child(4) {
    margin-right: 0;
}
.spimg {
    width: 58px;
    height: 58px;
    background-image: url(./../images/sprite.png);
}
.spinfo {
    font-size: 28px;
    color: #333333 ;
    margin-left: 20px;
}
.spimg1 {
    background-position: 0 0;
}
.spimg2 {
    background-position: 0 -58px;
}
.spimg3 {
    background-position: 0 -116px;
}
.spimg4 {
    background-position: 0 -174px;
}

.footnav {
    margin-top: 60px;
}
.footnav .wrapper {
    display: flex;
    padding-top: 60px;
    border-top: 1px solid #E8E8E8;
    justify-content: space-between;
}
.footnav .wrapper dl {
    margin-right: 84px;
}
.footnav .wrapper dl:nth-child(5) {
    margin-right: 0;
}
.footnav .wrapper dt {
    margin-bottom: 30px;
    font-size: 18px;
    color: #333333 ;
}
.footnav .wrapper dd {
    margin-bottom: 10.5px;
}
.footnav .wrapper dd a {
    color:#969696;
    font-size: 16px;
}
.footnav .wrapper dd .icon-customer-service {
    color: #00BE9A;
}
.qrcode {
    display: flex;
    justify-content: space-between;
}
.qrcodetheone {
    display: flex;
    margin-left: 55px;
    flex-direction: column;
    align-items: center;
}
.qrcodetheone img {
    width: 120px;
    height: 120px;
}
.qrcodetheone span {
    font-size: 16px;
    color: #969696;
    margin-top: 10px;
}
.lastbox {
    margin-top: 100.5px;
    margin-bottom: 50px;
}
.lastbox .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastbox .wrapper ul {
    display: flex;
}
.lastbox .wrapper li {
    text-align: center;
    width: 120px;
    line-height: 1;
}
.lastbox .wrapper li a {
    color: #969696;
}
.lastbox .wrapper li:nth-child(2n) {
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
}
.lastbox .wrapper span {
    color: #969696;
    margin-top: 15px;
}